networks:
  frontend:
    name: frontend
    external: ${NETWORK_EXTERNAL:-false}
  backend:
    name: backend
    external: ${NETWORK_EXTERNAL:-false}

volumes:
  app_code:
    name: app_code
    driver: local
    driver_opts:
      type: bind
      source: ${APP_CODE_PATH}
      o: bind,rw

# 使用 Docker Compose V2 的 include 功能模块化配置
include:
  # --- CORE & SECURITY ---
  - dnsmasq/docker-compose.yml      # DNS 服务
  - caddy/docker-compose.yml        # 网关渲染与反代
  - authelia/docker-compose.yml     # 鉴权
  - go-access/docker-compose.yml    # 日志分析
#  - docker-proxy/docker-compose.yml # Docker Socket 代理

  # --- DATABASES & STORAGE ---
  - postgres18/docker-compose.yml   # 默认数据库 PostgreSQL 18
  # - postgres17/docker-compose.yml # 备选版本
  - redis/docker-compose.yml        # 缓存
#  - mysql8/docker-compose.yml       # MySQL 8.4
#  - mongodb/docker-compose.yml      # MongoDB
  - minio/docker-compose.yml        # 对象存储
#  - rustfs/docker-compose.yml        # 对象存储
  - meilisearch/docker-compose.yml  # 全文检索
  - rabbitmq/docker-compose.yml     # 消息队列
#  - clickhouse/docker-compose.yml   # OLAP 数据库
#  - pgbouncer/docker-compose.yml    # PG 连接池

  # --- PHP RUNTIME (Laravel/Octane) alpine ---
#  - php-fpm/docker-compose.yml      # 标准 FPM
#  - php-roadrunner/docker-compose.yml # RoadRunner 引擎
#  - php-horizon/docker-compose.yml    # 队列监控
#  - php-schedule/docker-compose.yml   # 调度任务
#  - php-franken/docker-compose.yml    # FrankenPHP 引擎
#  - php-reverb/docker-compose.yml     # Laravel Reverb

  # --- PHP RUNTIME (Laravel/Octane) trixie ---
  - php-fpm-tirxie/docker-compose.yml      # 标准 FPM
  - php-roadrunner-trixie/docker-compose.yml # RoadRunner 引擎
  - php-horizon-trixie/docker-compose.yml    # 队列监控
  - php-schedule-trixie/docker-compose.yml   # 调度任务
  - php-franken-trixie/docker-compose.yml    # FrankenPHP 引擎
  - php-reverb-trixie/docker-compose.yml     # Laravel Reverb
  # --- TOOLS & MESSAGING ---
  - dozzle/docker-compose.yml       # 日志查看器
#  - homepage/docker-compose.yml      # 仪表盘
#  - gotify/docker-compose.yml       # 通知推送 (Gotify)
#  - ntfy/docker-compose.yml         # 通知推送 (Ntfy)
#  - centrifugo/docker-compose.yml   # 实时消息
#  - wud/docker-compose.yml          # 镜像更新提醒
#  - mosquitto/docker-compose.yml    # MQTT 代理

  # --- IOT & VISUALIZATION ---
  # - telegraf/docker-compose.yml     # 数据采集
  # - grafana/docker-compose.yml       # 数据可视化
  # - influxdb/docker-compose.yml      # 时序数据库
  # - influxdb-ui/docker-compose.yml   # InfluxDB 管理界面
  # - node-red/docker-compose.yml      # 流程编排

  # --- MONITORING & WEBSITES ---
  # - beszel/docker-compose.yml       # 服务器监控 Hub
  # - beszel-agent/docker-compose.yml # 服务器监控 Agent
  # - docs/docker-compose.yml         # 项目文档