# PostgreSQL/TimescaleDB 输出
[[outputs.postgresql]]
  connection = "host=${TIMESCALEDB_HOST} port=5432 user=${POSTGRES_USER} password=${POSTGRES_PASSWORD} dbname=${POSTGRES_DB} sslmode=disable"
  
  ## 使用 TimescaleDB 的表创建模板
  ## 自动创建表并转换为 hypertable
  create_templates = [
    '''CREATE TABLE {{ .table }} ({{ .columns }})''',
    '''SELECT create_hypertable({{ .table|quoteLiteral }}, 'time', if_not_exists => TRUE)''',
  ]
  
  ## 添加列的模板
  add_column_templates = [
    '''ALTER TABLE {{ .table }} ADD COLUMN IF NOT EXISTS {{ .columns|join ", ADD COLUMN IF NOT EXISTS " }}''',
  ]
  schema = "public"