{{- if .Values.minio.enabled }}
apiVersion: v1
kind: Secret
metadata:
  name: minio-secret
  namespace: {{ .Values.namespace }}
  labels:
    app: minio
type: Opaque
stringData:
  root-user: {{ .Values.minio.rootUser | default "minioadmin" | quote }}
  root-password: {{ .Values.minio.rootPassword | default "minioadmin" | quote }}
{{- end }}
