{{- if .Values.redis.enabled }}
apiVersion: v1
kind: Secret
metadata:
  name: redis-secret
  namespace: {{ .Values.namespace }}
  labels:
    app: redis
    app.kubernetes.io/name: {{ .Chart.Name }}
    app.kubernetes.io/instance: {{ .Release.Name }}
type: Opaque
stringData:
  password: {{ .Values.redis.password | default "changeme" | quote }}
  # Redis URL
  redis-url: "redis://:{{ .Values.redis.password | default "changeme" }}@redis:6379/0"
{{- end }}
