services:
  caddy:
    build:
      context: .
    container_name: caddy
    environment:
      - SITE_ADDRESS=${SITE_ADDRESS}
      - AWS_ACCESS_KEY_ID=${ALIYUN_ACCESS_KEY_ID}
      - AWS_SECRET_ACCESS_KEY=${ALIYUN_ACCESS_KEY_SECRET}
      - ALIYUN_ACCESS_KEY_ID=${ALIYUN_ACCESS_KEY_ID}
      - ALIYUN_ACCESS_KEY_SECRET=${ALIYUN_ACCESS_KEY_SECRET}
    ports:
      - "80:80"
      - "443:443"
      - "443:443/udp"
      - "8080:8080"
    volumes:
      - ${APP_CODE_PATH}:${APP_CODE_PATH_CONTAINER}${APP_CODE_CONTAINER_FLAG}
      - ${DATA_PATH}wordpress:/var/www/html
      - ${CONFIG_PATH}caddy:/etc/caddy
      - ${DATA_PATH}caddy:/data/caddy
      - ${LOG_PATH}caddy:/srv/logs
    restart: always
    # 示例：让某个服务支持自动监控和更新
    labels:
      - "diun.enable=true"
      - "com.centurylinklabs.watchtower.enable=true"
    depends_on:
      - dozzle
      - authelia
      - php-roadrunner
      - php-fpm
    networks:
      - frontend
      - backend
