services:
  php-fpm:
    image: jiaoio/php-fpm-trixie:8.5
    container_name: php-fpm
    restart: always
    volumes:
      - ${APP_CODE_PATH}:${APP_CODE_PATH_CONTAINER}${APP_CODE_CONTAINER_FLAG}
      - ${CONFIG_PATH}ssh:/home/www-data/.ssh:ro
    environment:
      - APP_PATH=${APP_PATH}
      - APP_ENV=${APP_ENV}
      - APP_DEBUG=true
    extra_hosts:
      - "host.docker.internal:host-gateway"
    networks:
      - backend
      - frontend
    depends_on:
      - redis
      - postgres
      - meilisearch
      - minio
