services:
  homepage:
    image: ghcr.io/gethomepage/homepage:v1.8
    container_name: homepage
    environment:
      HOMEPAGE_ALLOWED_HOSTS: "home.${SITE_ADDRESS}"
      HOMEPAGE_VAR_SITE_ADDRESS: ${SITE_ADDRESS}
      HOMEPAGE_VAR_DOMAIN: ${SITE_ADDRESS}
    ports:
      - "33000:3000"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ${CONFIG_PATH}homepage:/app/config
    restart: always
    networks:
      - frontend
      - backend
