services:
  simulator-node:
    build:
      context: ./nodejs
      dockerfile: Dockerfile
    container_name: simulator
    restart: always
    stdin_open: true
    tty: true
    env_file:
      - ./nodejs/.env
    environment:
      - MQTT_HOST=mosquitto # 容器内部互联必须用服务名，覆盖 .env 的 localhost
      - TZ=Asia/Shanghai
    depends_on:
      - mosquitto
    networks:
      - backend
      - frontend
