services:
  php-worker:
    build:
      context: .
    container_name: php-worker
    restart: always
    environment:
      - APP_PATH=${APP_PATH}
      - APP_ENV=${APP_ENV}
      - QUEUE_CONNECTION=${QUEUE_CONNECTION:-redis}
      - QUEUE_NAME=${QUEUE_NAME:-default}
      - QUEUE_TRIES=${QUEUE_TRIES:-3}
      - QUEUE_TIMEOUT=${QUEUE_TIMEOUT:-60}
      - QUEUE_MEMORY=${QUEUE_MEMORY:-128}
    volumes:
      - ${APP_CODE_PATH}:${APP_CODE_PATH_CONTAINER}${APP_CODE_CONTAINER_FLAG}
    networks:
      - backend
    depends_on:
      - redis
