services:
  php-horizon:
    image: jiaoio/php-horizon-trixie:8.5
    container_name: php-horizon
    restart: always
    environment:
      - APP_PATH=${APP_PATH}
      - APP_ENV=${APP_ENV}
    volumes:
      - ${APP_CODE_PATH}:${APP_CODE_PATH_CONTAINER}${APP_CODE_CONTAINER_FLAG}
    networks:
      - backend
    depends_on:
      - redis
