services:
  dozzle:
    container_name: dozzle
    image: amir20/dozzle:v8.14
    restart: always
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    ports:
      - "8180:8080"
    environment:
      - TZ=Asia/Shanghai
      - DOZZLE_LEVEL=info
      - DOZZLE_FILTER=status=running
      - DOZZLE_NO_ANALYTICS=true
    healthcheck:
      test: ["CMD", "/dozzle", "healthcheck"]
      interval: 3s
    networks:
      - backend
      - frontend
