services:
  beszel:
    image: henrygd/beszel:latest
    container_name: beszel
    restart: always
    environment:
      - ADMIN_EMAIL=admin@example.com
      - ADMIN_PASSWORD=admin@example.com
    ports:
      - "8090:8090"
    volumes:
      - ${DATA_PATH}beszel:/beszel_data
    healthcheck:
      test: ["CMD", "/beszel", "health", "--url", "http://localhost:8090"]
      interval: 30s
      timeout: 5s
      retries: 3
      start_period: 10s
    networks:
      - backend
      - frontend
