services:
  minio:
    build:
      context: .
    container_name: minio
    restart: always
    environment:
      - MINIO_ROOT_USER=${MINIO_ROOT_USER}
      - MINIO_ROOT_PASSWORD=${MINIO_ROOT_PASSWORD}
    volumes:
      - "${DATA_PATH}/minio:/data"
    ports:
      - "${MINIO_PORT_UI}:9001"
      - "${MINIO_PORT}:9000"
    networks:
      - backend
