services:
  docker-proxy:
    build:
      context: .
    container_name: docker-proxy
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    restart: always
    privileged: true
    ports:
      - "42375:2375"
    security_opt:
      - no-new-privileges:true
    networks:
      - backend
      - frontend
